/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #fff;
  color: #212427;
  transition: background 0.3s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
  padding-top: 5rem;
  font-family: 'Inter', sans-serif;
}

.header-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header a {
  color: #212427;
  text-decoration: none;
  font-weight: 500;
  align-self: flex-start;
}

.email-link {
  display: flex;
  align-items: center;
  color: #212427;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap; 
}

.email-link svg {
  margin-right: 5px;
  width: 24px; 
  height: 24px; 
}


.header h1 {
  margin: 0;
  font-size: 100px;
  line-height: 100%;
  color: #212427;
}

.header p {
  margin: 0;
  font-size: 48px;
  font-weight: 600;
  color: #212427;
}

.header a {
  color: #212427;
  text-decoration: none;
  font-weight: 600;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem;
}

.tab-button {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background 0.3s, border 0.3s;
  color: #2D2D2D;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

.tab-button.active {
  background-color: #2D2D2D;
  color: white;
}

.tab-button:not(.active):hover {
  background-color: #F2F2F2;
  border-color: transparent;
}

.tab-button:not(.active) {
  border: 1px solid #2D2D2D;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  padding: 0 2rem 4rem;
  transition: opacity 0.4s ease;
}

.hidden {
  display: none;
}

.project-card {
  flex: 1 1 calc(33.33% - 1.5rem);
  max-width: calc(33.33% - 1.5rem);
  border-radius: 32px;
  box-shadow: 0 4px 10px rgba(79 , 69, 141, 0.09);
  overflow: hidden;
  background: #fff;
  transition: transform 0.3s;
  text-decoration: none;
}

.project-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(79 , 69, 141, 0.15);
}

.project-card img {
  width: 100%;
  height: 300px;
  object-fit: cover; /* Сохраняем соотношение сторон изображения */
}

.project-card h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #212427;
  font-family: 'Inter', sans-serif;
}

.project-card h3 a {
  text-decoration: none;
  color: #212427;
  transition: color 0.3s;
}

.project-card h3 a:hover {
  color: #005fa3;
}

.chips {
  display: flex;
  gap: 8px;
  padding: 0 48px 0;
  flex-wrap: wrap;
}

.chip {
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  border: none;
  letter-spacing: 0.9px; 
}

.chip.design {
  background-color: #6353c5;
}

.chip.code {
  background-color: #fe655a;
}

.card-content {
  padding: 1rem 3rem 2rem;
}

.card-bottom {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.chips-wrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}


.project-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; /* Область клика (круг) */
  height: 50px; /* Область клика (круг) */
  border-radius: 50%; /* Круглая форма */
  background: transparent; /* Начальный фон */
  border: 1px solid transparent; /* Скрыть границу, когда кнопка не активна */
  opacity: 0;  /* Кнопка скрыта по умолчанию */
  cursor: pointer;
  transition: opacity 0.3s ease, border-color 0.3s ease;
}

.project-card:hover .project-arrow {
  opacity: 1; /* Кнопка появляется при наведении на карточку */

}

.project-card:hover .project-arrow span {
  border: 1px solid #2D2D2D;;
}

.project-arrow span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;  /* Сам круг с стрелкой */
  height: 50px; /* Сам круг с стрелкой */
  border-radius: 50%; /* Круглая форма */
  background: transparent; /* Начальный фон */
  transition: background 0.3s ease;
}

.project-arrow:hover span {
  background: #2D2D2D;  /* Цвет фона круга при наведении */
}

.project-arrow svg {
  width: 16px;  /* Размер стрелки */
  height: 16px; /* Размер стрелки */
  stroke: #2D2D2D;  /* Цвет стрелки по умолчанию */
  transition: stroke 0.3s ease;
}

.project-arrow:hover svg {
  stroke: #fff;  /* Цвет стрелки при наведении */
}






/* Адаптивность для мобильных устройств (до 768px) */
@media (max-width: 1200px) {

  .header h1 {
    font-size: 60px;  /* Уменьшаем размер заголовка на мобильных устройствах */
  }

  .header p {
    font-size: 28px;  /* Уменьшаем размер подзаголовка */
  }

  .projects {
    padding: 0 1rem 2rem;
  }

  .project-card {
    flex: 1 1 calc(50% - 1rem);  /* Карточки занимают 50% ширины экрана */
    max-width: calc(50% - 1rem);
  }

  .project-arrow {
    width: 40px;
    height: 40px;
  }

  .project-arrow span {
    width: 40px;
    height: 40px;
  }

  .project-arrow svg {
    width: 14px;
    height: 14px;
  }
}

/* Адаптивность для мобильных устройств (до 480px) */
@media (max-width: 990px) {
  .card-content {
    padding: 1.5rem 1.5rem 2rem;
  }

  .project-card h3 {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 2.5rem;
  }

  .header h1 {
    font-size: 48px;
  }

  .header p {
    font-size: 24px;
  }

  .project-card {
    flex: 1 1 100%;  /* Карточки на маленьких экранах занимают всю ширину */
    max-width: 100%;
  }
}


@media (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .header-right {
    align-self: self-end;
  }

  .header a {
    margin-top: 32px;
  }
}

/* Адаптивность для мобильных устройств (до 480px) */
@media (max-width: 490px) {

  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
  }

  .header h1 {
    font-size: 40px;  /* Еще меньше размер заголовка */
  }

  .header p {
    font-size: 24px;
  }

  .tab-button {
    font-size: 14px;  /* Уменьшаем размер шрифта на очень маленьких экранах */
  }

  .project-card img {
    height: 200px;  /* Уменьшаем размер изображений на маленьких экранах */
  }

  .project-arrow {
    width: 35px;
    height: 35px;
  }

  .project-arrow span {
    width: 35px;
    height: 35px;
  }

  .project-arrow svg {
    width: 12px;
    height: 12px;
  }
}
